.example-container {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .mat-table {
    overflow: auto;
    height: fit-content;
  }
  