// :host {
//     display: block;
//     position: relative;
// }

header {
    display: block;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f6f6f7;
  }

  mat-sidenav {
    width: 250px;
    margin-top: 64px;
    padding: 20px;
  }
nav{
  margin: 0 50px;
}

.nav_menu-btn{
  padding: 0;
}
.sidenav-content{
  padding: 20px;
}
// .example-container {
//   width: 500px;
//   height: 300px;
//   border: 1px solid rgba(0, 0, 0, 0.5);
// }

// .example-sidenav-content {
//   display: flex;
//   height: 100%;
//   align-items: center;
//   justify-content: center;
// }

// .example-sidenav {
//   padding: 20px;
// }
  
  
