// :host {
//     display: block;
//     position: relative;
// }

header {
    display: block;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f6f6f7;
}



app-search{
   min-width: 450px;
   margin-left: 50%;
}

nav{
  margin: 0 50px;
}

.nav_menu-btn{
  padding: 0;
}
.sidenav-content{
  padding: 20px;
}

mat-sidenav {
  width: 250px;
  margin-top: 64px;
  padding: 20px;
}

.menu-btn{
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}
  
  
