


<header>

    <mat-toolbar color="primary">


      <button type="button" mat-mini-fab (click)="sidenav.toggle()" class="nav_menu-btn">
          <mat-icon> menu </mat-icon>
      </button>
      <button mat-button routerLink="/">
        <mat-icon> home </mat-icon>
      </button>

          <app-search></app-search>
      

        </mat-toolbar>

  </header>
    <mat-sidenav #sidenav  class="sidenav-content">
         
      <button mat-button [routerLink]="['/']">
        <mat-icon> home </mat-icon>
        <span> Home </span>
      </button>
      <br>
     
      <button mat-button routerLink="/profile">
        <mat-icon> account_circle</mat-icon>
        <span> Profile </span>
      </button>
      <mat-checkbox [formControl]="checked">Login</mat-checkbox> 
      <br>

      <button mat-button routerLink="/airsearch">
        <mat-icon> flight </mat-icon>
        <span> Find airport </span>
      </button>

      <button mat-button [routerLink]="['/airline']">
        <mat-icon> flight_takeoff </mat-icon>
        <span> Airlines </span>
      </button>

      </mat-sidenav>
     
